<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Медиатека</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="albums">
                <span class="material-symbols-outlined" aria-hidden="true"></span> Альбомы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artists">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Артисты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genres">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Жанры музыки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tracks">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Треки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Связи артиста и жанра
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
