@inject IMediaLibraryApiWrapper MediaLibraryApi

<Modal @ref="GenreModal ">
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Новый жанр</ModalTitle>
                <CloseButton Clicked="CloseGenreModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel>Название жанра</FieldLabel>
                    <TextEdit @bind-Text="@newGenre.Name" />
                </Field>
            </ModalBody>

            <ModalFooter>
                <Button Color="Blazorise.Color.Secondary" Clicked="CloseGenreModalAsync">Отмена</Button>
                <Button Color="Blazorise.Color.Primary" Clicked="CreateGenreAsync">Создать</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public EventCallback OnGenreAdded { get; set; }

    private Modal GenreModal { get; set; } = new();

    private DtoGenreCreateUpdate newGenre { get; set; } = new();

    public async Task Show() => await GenreModal.Show();

    private async Task CloseGenreModalAsync() => await GenreModal.Hide();

    private async Task CreateGenreAsync()
    {
        await MediaLibraryApi.PostGenre(newGenre);
        await GenreModal.Hide();
        await OnGenreAdded.InvokeAsync();
    }
}